/build/lanterna/bin/
/build/lanterna/lib/
/build/lanterna/manifest.txt
/build/lanterna/LanternaChess.jar
directedCmd.bat
/src/main/resources/
/src/main/java/com/YCorp/chessApp/scratchMain.java
/src/main/java/com/YCorp/chessApp/client/javafx/scratchFX.java
/target/